<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Places.plist
   mapdemo_day2

   Created by Rizul goyal on 2020-01-10.
   Copyright (c) 2020 Rizul goyal. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
    
    
    </dict>
</plist>
